.canvas-wrapper {
    display: block;
    max-height: 100%;
    max-width: 100%;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.1);
    margin: auto;
    overflow: auto;
}


.grid-wrapper {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: calc(100vw - 16px*2);
    margin: 16px;
}
  
.grid-layout {
    display: flex;
    height: calc(100% - 16px*2);
    max-width: 70%;
    padding: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.grid-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100% - (16px*2));
  width: 270px;
  margin-left: 32px;
  padding: 16px;
}

.hoover-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;

  .hoover-coords {
    display: flex;

    span {
      display: block;
      margin: 0 16px;
    }
  }

  .hoover-move-to-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 140px;

    .move-to-btn {
      margin-top: 8px;
      height: 36px;
      width: 80px;
    }
  }

  div, .hoover-data-header {
    margin: 4px 0;
  }
}

.hoover-data-header, .instructions-header {
  margin: 0;
}

.grid-instructions {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  text-align: center;

  & .switch-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px auto;
    width: fit-content;

    & .mode {
      margin: 0 16px;
    }
  }
}

.instructions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  & .hide {
    display: none !important;
  }

  & #manual-instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .manual-btn {
      width: 100px;
      margin: 8px 0; 
    }
  }

  & #script-instructions {
    margin: auto;
    height: 60%;
    width: 70%;
    
    & textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      resize: none;
      text-transform: uppercase;
    }

    & .script-btn {
      position: relative;
      top: -20px;
      left: 152px;
      height: 40px;
      width: 60px;
    }
  }
}