.grid-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 8px;
  max-width: 560px;
  
  .grid-param {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #aaa;
    margin-left: 8px;
    padding: 8px;
    width: 80px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }

    &:focus {
      border-bottom: 1px solid #131313;
      outline: none;
    }
  }
}

.btn {
  background: none;
  border: none;
  border-radius: 2px;
  padding: 8px;
  min-width: 100px;
  font-weight: 600;
  cursor: pointer;

  background-color: #eee;
  box-shadow: 0 2px #ccc;
  border-radius: .5em;
  transition: background-color .3s, box-shadow .3s;

  &.btn-action:hover {
    background-color: #fdff88;
    box-shadow: 0 2px #d9db6f;
  }
  &.btn-valid:hover {
    background-color: rgb(161, 252, 161);
    box-shadow: 0 2px rgb(107, 184, 107);
  }

  &:active {
    transform: scale(.9);
    transition: transform .1s;
  }
}