.grid-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 8px;
  max-width: 560px;
  
  .grid-param {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #aaa;
    margin-left: 8px;
    padding: 8px;
    width: 80px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }

    &:focus {
      border-bottom: 1px solid #131313;
      outline: none;
    }
  }
}

.grid-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50vh;
  width: calc(100vw - 16px*2);
  margin: 16px;
}

.grid-layout {
  display: flex;
  height: calc(100% - 16px*2);
  width: calc(60% - 16px*2);
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.grid-instructions {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 16px;
  height: calc(100% - (16px*2));
  width: 36%;
  text-align: center;

  .instructions-header {
    margin: 0;
  }

  & .switch-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px auto;
    width: fit-content;

    & .mode {
      margin: 0 16px;
    }
  }
}

.instructions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 60%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  & .hide {
    display: none !important;
  }

  & #manual-instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .manual-btn {
      margin: 8px 0; 
    }
  }

  & #script-instructions {
    margin: auto;
    height: 60%;
    width: 70%;
    
    & textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      resize: none;
      text-transform: uppercase;
    }

    & .script-btn {
      position: relative;
      top: -20px;
      left: 80px;
      min-width: 60px;
    }
  }

}

.btn {
  background: none;
  border: none;
  border-radius: 2px;
  padding: 8px;
  min-width: 100px;
  font-weight: 600;
  cursor: pointer;

  background-color: #eee;
  box-shadow: 0 2px #ccc;
  border-radius: .5em;
  transition: background-color .3s, box-shadow .3s;

  &.btn-action:hover {
    background-color: #fdff88;
    box-shadow: 0 2px #d9db6f;
  }
  &.btn-valid:hover {
    background-color: rgb(161, 252, 161);
    box-shadow: 0 2px rgb(107, 184, 107);
  }

  &:active {
    transform: scale(.9);
    transition: transform .1s;
  }
}